/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center; /* Centers text horizontally */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  height: 100vh; /* Full viewport height */
}

header {
  margin-bottom: 20px;
}

main {
  margin-top: 20px;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}
